@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .button {
        @apply flex items-center justify-center text-lg font-bold text-gray-900 transition duration-300 ease-in ;
    }

    .board {
        @apply mt-24 flex h-[450px] w-[350px] md:mt-16 md:h-[500px] md:w-[500px] flex-col items-center justify-center space-y-4 rounded-xl bg-back;
    }

    .board-row {
        @apply flex items-center justify-center space-x-4;
    }

    .errors-block {
        position: absolute;
        bottom: 5px;
        right: 10px;

        padding: 10px 0;
    }

    .error-message {
        border: 1px solid red;
        background: rgb(247, 99, 99);
        padding: 2px;
        border-radius: 25px;
    }
}
